.cart{
  background-color: #ffffff;
  width: 1350px;
  position: relative;
  left: -40px;
}

.table-cart {
	margin-top:20px;
	width: 100%;
	position: relative;
	left: -20px
}

h1.title {
	font-size: 50px;
	text-align: center;
	color: #e83d12;
	height: 100px;
}


.left-label {
	position: relative;
	left: -15px;
}

.right-label {
	position: relative;
	left: 20px;
}

.total, .x, .cart-price, .cart-name {
	position: relative;
	top:-60px;
}
 
.cart-img {
	position: relative;
	top: 10px;
	height: 200px;
}
.none {
	display: none;
}

.buy {
	text-align: center;
}
.second {
	border-bottom: 1px solid lightgray;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.final {
	height: 500px;
}
.sum {
	font-size: 25px;
	font-family: inherit;
	position: relative;
	top: 40px;
	left: 700px;
}
.purchase {
	color: #ffffff;
	font-weight: 500;
	font-family: inherit;
	font-size: 16px;
	background: #fc2e00;
	width: 150px;
	height: 50px;
	border: none;
	position: relative;
	top: 2px;
	left: 1100px;
}
.row-cart {
	border-bottom: 1px solid #000000;
}

.cart-amount {
	position: relative;
	left: -38px;
	top: 7px;
}